.header__main-illustranion {
    width: 765px;
    height: 608px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../../../images/header-image.png);
  }


