.video__iframe {
    width: 515px;
    height: 316px;
    margin: 0;
    border: 0;
    z-index: 1;
}

.video__item-iframes:first-child .video__iframe {
  margin-right: 10px;
}

.video__item-iframes:last-child .video__iframe {
  margin-left: 10px;
}
